@*use this for the fake AjaxOptions since ajax helpers were dropped in .net core*@
@model IPagedList<string>
@*import this so we get our HTML Helper*@
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;

@*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList;

<ul>
    @foreach (var name in Model)
    {
        <li>@name</li>
    }


</ul>



@Html.PagedListPager((IPagedList)ViewBag.Names, page => Url.Action("GetOnePageOfNames", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new PagedListRenderOptions {
            MaximumPageNumbersToDisplay = 8,
            DisplayPageCountAndCurrentLocation = true,
            UlElementClasses = new[] { "pagination col-md-8" },
            ContainerDivClasses = new[] { "row" } },
        new AjaxOptions()
        {
            DataForm = "searchForm",
            OnBegin = "return Begin(this);",
            HttpMethod = "GET",
            UpdateTargetId = "nameListContainer"
        }
))

<script>

    function Begin(obj) {
        return true;
    }
</script>



