@*use this for the fake AjaxOptions since ajax helpers were dropped in .net core*@
@model PagedList<DataRow>
@*import this so we get our HTML Helper*@
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using System.Data;
@*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList;

<p>@Model.Count()</p>
<ul>
    @foreach (DataRow item in Model)
    {
        <li>@item["BusinessName"]</li>
    }


</ul>



@Html.PagedListPager((IPagedList)ViewBag.Names, page => Url.Action("Table", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new PagedListRenderOptions {
            MaximumPageNumbersToDisplay = 8,
            DisplayPageCountAndCurrentLocation = true,

            UlElementClasses = new[] { "pagination col-md-8" },
            ContainerDivClasses = new[] { "row" } },


        new AjaxOptions()
        {
            DataForm = "searchForm",
            OnBegin = "return Begin(this);",
            HttpMethod = "GET",
            UpdateTargetId = "nameListContainer"
        }
))

<script>

    function Begin(obj) {
        return true;
    }
</script>



