@{
    ViewBag.Title = "Product Listing";
}
@using X.PagedList;

<h2>会员列表</h2>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
    .pagination{
        width:auto !important;
    }
</style>
<form id="searchForm" data-ajax="true" data-ajax-update="#nameListContainer" action="/member/Table" method="post">

    <input type="text" name="name" value="" />
    <button type="submit">搜索</button>
</form>
<div id="nameListContainer">
    @Html.Partial("_Table", (IPagedList)ViewBag.Names)
</div>